{% extends "base/base.html.twig" %}

{% block content %}

    <div class="col-md-8">
        <div class="row mb-4">
           <div class="col-md-12 d-flex justify-content-center">
               <img src="{{ asset('assets/img/onuromer.png') }}">
           </div>
        </div>
        <hr>
        <div class="row mt-4">
            <h4 style="text-align: center">About Me</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin convallis ullamcorper congue. Sed facilisis magna a placerat ornare. Integer at arcu libero. Aliquam vel laoreet elit. Ut dictum tortor nisi, at faucibus purus maximus id. Aliquam sed iaculis sapien. Nulla vehicula neque ut dui pretium, iaculis ullamcorper orci lobortis. Nullam fermentum consequat augue eget facilisis.

                Maecenas purus dolor, scelerisque id porta nec, ornare ac mauris. Proin bibendum, quam vel scelerisque facilisis, est mauris ornare sem, mattis vulputate tortor lectus sit amet nisl. Aliquam non metus ac nunc auctor ultrices. Nunc suscipit purus vitae dui imperdiet congue. Curabitur hendrerit iaculis congue. Etiam eu ante in erat elementum ornare nec sit amet sapien. Aenean molestie dictum justo in bibendum.
            </p>

            <p>
                Mauris dictum nunc augue, vitae interdum quam pharetra quis. Ut consequat dolor dui. Integer efficitur tortor non enim dignissim blandit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas non odio lacus. Fusce erat metus, iaculis nec malesuada id, dapibus a eros. Nulla pharetra ipsum vitae mauris ullamcorper, a dictum risus suscipit. Fusce placerat nibh quis lacus fringilla suscipit. Duis posuere interdum lacinia.
            </p>

            <p>
                Vivamus elit elit, finibus a orci eu, imperdiet volutpat lorem. Morbi tincidunt odio sed lectus volutpat placerat sed sed ante. Ut malesuada elit tempus sollicitudin bibendum. Nulla vehicula risus enim, in facilisis felis ultrices ac. Maecenas quis interdum nisi, tempus fringilla mauris. Vivamus placerat mi a lacinia placerat. Morbi nec nisl lorem.

                Nulla faucibus varius nulla id ultricies. Curabitur dapibus nisl id porta ultrices. Vivamus a blandit risus. Sed vehicula, libero sit amet ornare sollicitudin, metus leo eleifend ligula, finibus blandit velit orci vitae mauris. Aliquam non enim quis ligula convallis vehicula. Aliquam erat nisi, luctus at euismod et, varius euismod erat. Duis vel porttitor erat.
            </p>
        </div>
    </div>


{% endblock %}