<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <script src="https://kit.fontawesome.com/8d9a94d7ba.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}" type="image/x-icon" >

    <title>Hello, world!</title>
</head>
<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4">
                    <a href="#" class="social-media-icon"><i class="fa-brands fa-facebook" style="color: #3b5998"></i></a>
                    <a href="#" class="social-media-icon"><i class="fa-brands fa-twitter" style="color: #00aced"></i></a>
                    <a href="#" class="social-media-icon"><i class="fa-brands fa-instagram" style="color: #517fa4;"></i></a>
                    <a href="#" class="social-media-icon"><i class="fa-brands fa-youtube" style="color: #bb0000"></i></a>
                    <a href="#" class="social-media-icon"><i class="fa-brands fa-linkedin" style="color: #0072b1 "></i></a>
                </div>
                <div class="col-4 text-center">
                    <a href="#" class="blog-header-logo">
                        Onur Ömer ŞAHİN
                    </a>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Ara">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </div>
        </header>
        <div class="nav-scroller py-1 mb-4">
            <nav class="nav d-flex justify-content-center">
                <a href="/posts" class="navbar-menu p-2 mx-4">Homepage</a>
                <a class="nav-link dropdown-toggle p-2 mx-4" href="#" id="navbarDarkDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Sports</a></li>
                    <li><a class="dropdown-item" href="#">Technology</a></li>
                    <li><a class="dropdown-item" href="#">Magazine</a></li>
                </ul>
                <a href="/about" class="navbar-menu p-2 mx-4">About Me</a>
                <a href="/contact" class="navbar-menu p-2 mx-4">Contact</a>
            </nav>
        </div>

        <main>
            <div class="row">

                {% block content %}{% endblock %}

                <div class="col-md-4">
                    <div class="card border-light mb-4" style="max-width: 18rem;">
                        <div class="card-header bg-dark text-white text-center">
                            <h5 >About Me</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Light card title</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card border-light mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-dark text-white text-center">
                            <h5>Latest Posts</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Light card title</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <hr>
                    </div>
                    <div class="card border-light mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-dark text-white text-center">
                            <h5>Newslatter</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Subscribe our newsletter to receive the latest news and exclusive offers.</p>
                            <form>
                                <div class="mb-3">
                                    <label for="subscribeEmail" class="form-label text-center">Email address</label>
                                    <input type="email" class="form-control" id="subscribeEmail" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else..</div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-outline-dark">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="container-fluid m-0 p-0">
        <!-- Footer -->
        <footer class="text-center text-lg-start text-white" style="background-color: #45526e">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">
                                Onur Ömer ŞAHİN
                            </h6>
                            <p>
                                Here you can use rows and columns to organize your footer
                                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                            <p>
                                <a class="text-white">MDBootstrap</a>
                            </p>
                            <p>
                                <a class="text-white">MDWordPress</a>
                            </p>
                            <p>
                                <a class="text-white">BrandFlow</a>
                            </p>
                            <p>
                                <a class="text-white">Bootstrap Angular</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">
                                Useful links
                            </h6>
                            <p>
                                <a class="text-white">Your Account</a>
                            </p>
                            <p>
                                <a class="text-white">Become an Affiliate</a>
                            </p>
                            <p>
                                <a class="text-white">Shipping Rates</a>
                            </p>
                            <p>
                                <a class="text-white">Help</a>
                            </p>
                        </div>

                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                            <p><i class="fas fa-home mr-3"></i> KOCAELİ, 41900, TÜRKİYE</p>
                            <p><i class="fas fa-envelope mr-3"></i> onuromersahin@gmail.com</p>
                            <p><i class="fas fa-phone mr-3"></i> +90 555 55 55</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->

                <hr class="my-3">

                <!-- Section: Copyright -->
                <section class="p-3 pt-0">
                    <div class="row d-flex align-items-center">
                        <!-- Grid column -->
                        <div class="col-md-7 col-lg-8 text-center text-md-start">
                            <!-- Copyright -->
                            <p class="p-3"> Created by Onur Ömer ŞAHİN © 2022 Copyright
                            </p>
                            <!-- Copyright -->
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                            <!-- Facebook -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button">
                                <i class="fab fa-facebook-f"></i>
                            </a>

                            <!-- Twitter -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button">
                                <i class="fab fa-twitter"></i>
                            </a>

                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button">
                                <i class="fab fa-instagram"></i>
                            </a>

                            <!-- Youtube -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                        <!-- Grid column -->
                    </div>
                </section>
                <!-- Section: Copyright -->
            </div>
            <!-- Grid container -->
        </footer>
        <!-- Footer -->
    </div>
    <!-- End of .container -->

<!-- Bootstrap JS -->
<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>