{% extends "admin/base/base.html.twig" %}

{% block content %}
    <div class="w-50">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Add Tag</h1>
        </div>
        <form class="row" action="" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="">
            </div>
            <div class="mb-3">
                <label for="createdAt" class="form-label">Created At</label>
                <div class="input-group date" id="datepicker">
                    <input type="text" class="form-control" id="createdAt" name="createdAt"/>
                    <span class="input-group-append">
                      <span class="input-group-text bg-light d-block">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </span>
                </div>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-outline-primary">Save</button>
            </div>
        </form>
    </div>
{% endblock %}